
.adelantos{
    height: 50vh;
    background-image: url("/Imagenes/PuppyPlaytime7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;    
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
}

.imgAdelanto img{
    height: 200px;
    width: 400px;
    max-width: 400px;
    max-height: 400px;
    padding: 0%;
    margin: 0%;
}

.imgAdelanto img:hover{
    animation-name: imgTerror;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes imgTerror {
    0% {transform: scale(1); border: solid 2px white; }
    20%{ border: solid 2px blue;}
    40%{transform: skew(-45deg); border: solid 2px yellow;}
    60%{ border: solid 2px greenyellow;}
    80%{ border: solid 2px black; opacity: 95%;}
    100%{transform: scale(1.5); border: solid 2px red; opacity: 90%;}
}

.adelantosTitulo{
    font-size: 5vh;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    display: flex;
    justify-content: center;

}