.fondoAnimado{

    background-image: url("../Imagenes/escenario\ poppy3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    overflow: hidden;
}


.imagen_muneco{
    position: relative;
    top: 150%;
    left: 36%;
    visibility: hidden;
    scale: 0.2;
}

.animarPoppy{
     animation-name: ahiViene;
     animation-delay:0.3s;
     animation-duration: 0.6s;
     position: relative;
    
}

@keyframes ahiViene {
    0%{visibility: visible; transform: scale(1);}
    20%{transform: scale(2); top: 45%;}
    40%{transform: scale(3); top: 40%;}
    60%{transform: scale(4); top: 35%;}
    80%{transform: scale(5); top: 3%;}
    100%{transform: scale(6);}
}


.tituloAnimado1{
    color: white;
    position: absolute;
    font-size: 4em;
    top: 320%;
    left: 70%;
    visibility: visible;
}

.tituloAnimado2{
    font-size: 3em;
    color: white;
    position: absolute;
    top: 300%;
    left: 5%;
    visibility: visible;
}

.tituloAnimado1:hover{
    color: red;
}

.tituloAnimado2:hover{
    
    visibility: hidden;
}