*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bars__menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 90%;
    /*desplazamiento del contenedor y tamanio de las barras*/
    transform: translate(-50%, -50%) scale(3);
    /*efecto sobre el cursor(aparece la manito)*/
    cursor: pointer;
}

.bars__menu span {
    display: block;
    width: 80%;
    height: 2px;
    background: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 500ms;
    border-radius: 20%;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-1px, 2px);
}

.activeline2__bars-menu{
    opacity: 0;
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-1px, 2px);
}


.menuDesplegable{
    min-width: 15%;
    transition: all 500ms;
    
    border: black solid 2px;
    color: white;
    position: absolute; /*la posicion absoluta me permite que el contenedor se
    saltee el flujo de la pagina y pueda posicionarlo donde quiera*/
    top: 25%;
    left: 100%;
    margin: 1% 0% 1% 0%;
    background-color: #202291;
    cursor: pointer;
}

.activarMenuDesplegable{
    transform: translate(-100%, 0px) scale(1.2);
}

.itemMenuDesplegable:hover{
    background-color: #0004ff;
    border: rgb(0, 0, 0) 2px solid;
    visibility: none;
}

.ActivarItemMenuDesplegable1{
    transition: all 2s;
    opacity: 1;
}
.ActivarItemMenuDesplegable2{
    transition: all 3s;
    opacity: 1;
}
.ActivarItemMenuDesplegable3{
    transition: all 4s;
    opacity: 1;
}
.ActivarItemMenuDesplegable4{
    transition: all 5s;
    opacity: 1;
}
.ActivarItemMenuDesplegable5{
    transition: all 6s;
    opacity: 1;
}
.ActivarItemMenuDesplegable6{
    transition: all 7s;
    opacity: 1;
}